{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
<div class="blog-head">
    <h1 class="blog-title container">{{ blog.title }}</h1>
    <img src="{{ blog.header_photo }}" alt="petra photo">
</div>
<div class="blog-body container">
    <p>Posted On:<strong>{{ blog.time }}</strong></p>
    {% if blog.par_1 %}
        <P>{{ blog.par_1 }}</P>
    {% endif %}
    {% if blog.par_2 %}
        <P>{{ blog.par_2 }}</P>
    {% endif %}
    {% if blog.par_3 %}
        <P>{{ blog.par_3 }}</P>
    {% endif %}
    {% if blog.par_4 %}
        <P>{{ blog.par_4 }}</P>
    {% endif %}
    <div class="blog-gallery">
        <img class="blog-img" src="{{ blog.photo_1 }}">
        <img class="blog-img" src="{{ blog.photo_2 }}">
    </div>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Scroll to the first div with class="target-div"
        const targetDiv = document.getElementsByClassName('blog-head')[0];
        if (targetDiv) {
            targetDiv.scrollIntoView({ behavior: 'smooth' });
        }
    });
</script>
{% endblock %}